
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --fonts-principal: "IBM Plex Sans", sans-serif;
    --color-background: #f2f2f2;
    --color-black: #0d0d0d;
    --color-white: #ffff;
    --color-fontBlack: #0000;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-p{
    width: 100%;
    height: 50vh;
    background-color: var(--color-white);
    display: grid;
    place-content: center;
    position: relative;
}

#main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    overflow: hidden;
}

#top{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    overflow: hidden;
}


#center{
    position: relative;
    width: 100%;
    height: 100vh;
    transform-origin: center;
    background-color: rgb(0, 0, 0);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
    overflow: hidden;
}

#bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

#main h2{
    font-family: var(--fonts-principal);
    font-size: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#top-h2{
    bottom: 50%;
}

#bottom h2{
    top: 2.9% !important;
}


.contenidoExperiencia{
    max-width: 1220px;
    margin: auto;
    padding: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 17.5%;
    z-index: 99;
}

.contenidoExperiencia h2{
    font-size: 5vw;
}

.content{
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    font-size: 4vh;
    font-family: var(--fonts-principal);
    font-weight: 400;
}

.content h4{
    font-size: 1vw;
    font-family: var(--fonts-principal);
}

.content h3{
    width: 22%;
    font-size: 3vw;
    font-family: var(--fonts-principal);
    text-align: center;
    font-weight: 400;
}

.content .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 2vw;
    border-radius: 50px;
    background-color: #fff;
    color: #0d0d0d;
    font-family: var(--fonts-principal);
}

.content h2{
    font-size: 20vw;
    font-family: var(--fonts-principal);
}
#center-h2{
    color: white;
}