---
import "../styles/creatividad.css";
import "../styles/mediaQueris/media-queris-creatividad.css";
---

<main class="container-creatividad">
  <section class="section-creatividad">
    <div class="creatividad">
      <div class="contenido-creatividad">
        <h2>Creatividad pura.</h2>
        <p>
          Cada diseño se crea pensando en brindar la mejor experiencia al
          usuario y una interfaz única.
        </p>
        <span>UI/UX</span>
      </div>
      <div class="ilustracion-creatividad">
        <img src="/public/idiea.png" alt="ilustración" />
      </div>
    </div>
    <div class="mantenimiento">
      <div class="texto-mantenimiento">
        <h3>Mantenimiento constante.</h3>
      </div>
      <div class="img-mantenimiento">
        <img src="/public/mantenimiento.png" alt="ilustración" />
      </div>
    </div>
    <div class="expectativa">
      <div class="img-expectativa">
        <img src="/public/elevar.png" alt="ilustracion" />
      </div>
      <div class="texto-expectativa">
        <h3>Elevamos las expectativas de nuestros clientes.</h3>
      </div>
      <div class="logotipo-websyze">
        <img src="/public/logo-negro.png" alt="logotipo" />
      </div>
    </div>
    <div class="respuesta-rapida">
      <div class="img-respuesta">
        <img src="/public/Mensaje.png" alt="ilustracion" />
      </div>
      <div class="texto-respuesta">
        <h3>Respuesta rápidas.</h3>
      </div>
    </div>
  </section>
  <div class="img-confianza">
    <img src="/public/letraproyecto.svg" alt="ilustracion" />
  </div>
</main>
