---
import "../styles/tipoProyecto.css";
---
<main class="container">
  <div class="title">
    <h1 class="title_text">¿Cuál es el tipo de sitio web que prefieres?</h1>
  </div>
  <section class="content">
    <article class="content_card card1">
      <img src="/public/forma1.svg" alt="bruto" class="card1_figure1" />
      <img src="/public/letrasportafolio.svg" alt="bruto" class="card1_lettp" />
      <p class="card1_text">
        Creamos portafolios asombrosos, únicos y altamente optimizados.
      </p>
      <button class="card1_btn btns"><a href="#">Explorar</a></button>
    </article>
    <article class="content_card card2">
      <img src="public/figura2.svg" alt="figure" class="card2_figure2" />
      <img src="public/storeicon.svg" alt="icon" class="card2_storeicon" />
      <p class="card2_text">
        ¡Es el momento perfecto para llevar tu emprendimiento al mundo digital!
      </p>
      <button class="card2_btn btns"><a href="#">Explorar</a></button>
    </article>
    <article class="content_card card3">
      <img src="public/figura3.svg" alt="figure" class="card3_figure3" />
      <img
        src="public/letrasanimada.svg"
        alt="webs animadas"
        class="card3_lettersweb"
      />
      <p class="card3_text">
        Dale vida a tu sitio web con animaciones asombrosas y altamente
        optimizadas.
      </p>
      <button class="card3_btn btns"><a href="#">Explorar</a></button>
    </article>
  </section>
  <footer class="footer">
  <button class="footer_btn"><h1 class="btn_text">Ver mas</h1></button>  
  </footer>
</main>
